[Unit]
Description=Glance Dashboard
After=network.target

[Service]
EnvironmentFile=/etc/systemd/system/glance-waqi.env
ExecStart=/usr/local/bin/glance --config /etc/glance/glance.yml
Restart=always
RestartSec=5
User=glance
Group=glance

[Install]
WantedBy=multi-user.target
